In [32]:
import pandas as pd
import numpy as np
import functions as fn

In [33]:
data = fn.getStockDataVec("^GSPC")
data.head()

          Open         High          Low        Close      Volume
0  1320.280029  1320.280029  1276.050049  1283.270020  1129400000
1  1283.270020  1347.760010  1274.619995  1347.560059  1880700000
2  1347.560059  1350.239990  1329.140015  1333.339966  2131000000
3  1333.339966  1334.770020  1294.949951  1298.349976  1430800000
4  1298.349976  1298.349976  1276.290039  1295.859985  1115500000

In [15]:
s = fn.getSta

['2001-01-03' 1283.27002 1347.76001 1274.619995 1347.560059 1880700000]

In [41]:
a = np.array([[1,2], [5, 6], [10, 20]])
*b, c = a

print(b)
print(c)

[array([1, 2]), array([5, 6])]
[10 20]

In [47]:
print(1e-06 +1 
      )

1.000001